<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.urv.deim.asm.p2.planificate">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- leer informacion de internet/Externa -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- leer informacion de internet/Externa/pdf -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" /> <!-- ALARMA -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- MAKE ALARMS RESTART ON REBOOT -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/icono_plan_pill_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planificate"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.datos_personales.LoginUsuariaActivity" />
        <activity android:name=".ui.informate.InfCastActivity" />
        <activity android:name=".ui.informate.InfCatActivity" />
        <activity android:name=".ui.informate.InfInglesActivity" />
        <activity android:name=".ui.informate.DocumentacionInglesActivity" />
        <activity android:name=".ui.informate.DocumentacionCatActivity" />
        <activity android:name=".ui.informate.DocumentacionCastActivity" />
        <activity android:name=".ui.alarmas.AlarmActivity" />
        <activity
            android:name=".Popup3"
            android:theme="@style/Theme.Planificate.Popup" />
        <activity android:name=".ui.calendario.GenialActivity" />
        <activity android:name=".ui.calendario.MuyBienActivity" />
        <activity android:name=".ui.calendario.BienActivity" />
        <activity android:name=".ui.calendario.MalActivity" />
        <activity android:name=".ui.calendario.TerribleActivity" />
        <activity android:name=".ui.calendario.CalendarioActivity" />
        <activity android:name=".ui.datos_personales.ActualizarDatosPersonalesActivity" />
        <activity android:name=".ui.datos_personales.DatosPersonalesUsuariaActivity" />
        <activity android:name=".ui.datos_personales.RegistroUsuariaActivity" />
        <activity android:name=".ui.blister21.Blister21Activity21" />
        <activity android:name=".ui.blister21.Blister21Activity20" />
        <activity android:name=".ui.blister21.Blister21Activity19" />
        <activity android:name=".ui.blister21.Blister21Activity18" />
        <activity android:name=".ui.blister21.Blister21Activity17" />
        <activity android:name=".ui.blister21.Blister21Activity16" />
        <activity android:name=".ui.blister21.Blister21Activity15" />
        <activity android:name=".ui.blister21.Blister21Activity14" />
        <activity android:name=".ui.blister21.Blister21Activity13" />
        <activity android:name=".ui.blister21.Blister21Activity12" />
        <activity android:name=".ui.blister21.Blister21Activity11" />
        <activity android:name=".ui.blister21.Blister21Activity10" />
        <activity android:name=".ui.blister21.Blister21Activity9" />
        <activity android:name=".ui.blister21.Blister21Activity8" />
        <activity android:name=".ui.blister21.Blister21Activity7" />
        <activity android:name=".ui.blister21.Blister21Activity6" />
        <activity android:name=".ui.blister21.Blister21Activity5" />
        <activity android:name=".ui.blister21.Blister21Activity4" />
        <activity android:name=".ui.blister21.Blister21Activity3" />
        <activity android:name=".ui.blister21.Blister21Activity2" />
        <activity android:name=".ui.blister21.Blister21Activity1" />
        <activity android:name=".ui.blister21.Blister21Activity" />
        <activity android:name=".ui.blister28.BlisterActivity28" />
        <activity android:name=".ui.blister28.BlisterActivity27" />
        <activity android:name=".ui.blister28.BlisterActivity26" />
        <activity android:name=".ui.blister28.BlisterActivity25" />
        <activity android:name=".ui.blister28.BlisterActivity24" />
        <activity android:name=".ui.blister28.BlisterActivity23" />
        <activity android:name=".ui.blister28.BlisterActivity22" />
        <activity android:name=".ui.blister28.BlisterActivity21" />
        <activity android:name=".ui.blister28.BlisterActivity20" />
        <activity android:name=".ui.blister28.BlisterActivity19" />
        <activity android:name=".ui.blister28.BlisterActivity18" />
        <activity android:name=".ui.blister28.BlisterActivity17" />
        <activity android:name=".ui.blister28.BlisterActivity16" />
        <activity android:name=".ui.blister28.BlisterActivity15" />
        <activity android:name=".ui.blister28.BlisterActivity14" />
        <activity android:name=".ui.blister28.BlisterActivity13" />
        <activity android:name=".ui.blister28.BlisterActivity12" />
        <activity android:name=".ui.blister28.BlisterActivity11" />
        <activity android:name=".ui.blister28.BlisterActivity10" />
        <activity android:name=".ui.blister28.BlisterActivity9" />
        <activity android:name=".ui.blister28.BlisterActivity8" />
        <activity android:name=".ui.blister28.BlisterActivity7" />
        <activity android:name=".ui.blister28.BlisterActivity6" />
        <activity android:name=".ui.blister28.BlisterActivity5" />
        <activity android:name=".ui.blister28.BlisterActivity4" />
        <activity android:name=".ui.blister28.BlisterActivity3" />
        <activity android:name=".ui.blister28.BlisterActivity2" />
        <activity android:name=".ui.blister28.BlisterActivity1" />
        <activity android:name=".ui.blister28.BlisterActivity" />
        <activity android:name=".ui.informate.VideoInglesActivity_2" />
        <activity android:name=".ui.informate.VideoInglesActivity_1" />
        <activity android:name=".ui.informate.VideoCatActivity_2" />
        <activity android:name=".ui.informate.VideoCatActivity_1" />
        <activity android:name=".ui.informate.VideoCastActivity_2" />
        <activity android:name=".ui.informate.VideoCastActivity_1" />
        <activity android:name=".EstadoDeAnimoActivity" />
        <activity
            android:name=".Popup"
            android:theme="@style/Theme.Planificate.Popup" />
        <activity
            android:name=".Popup2"
            android:theme="@style/Theme.Planificate.Popup" />
        <activity android:name=".TimePickerDialog" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".TimePickerDialog"
            android:theme="@style/Theme.Planificate.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimePickerDialog" />
        </activity>
        <activity android:name=".SegudaPreguntaActivity" />
        <activity android:name=".MailAPI" />
        <activity android:name=".WebDecisionesCompartidas" />
        <activity android:name=".PrimeraPreguntaActivity" />
        <activity
            android:name=".InformacionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <receiver android:name=".AlertReceiver" /> -->
        <receiver
            android:name=".ui.alarmas.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".ui.alarmas.NotificationService"
            android:enabled="true" /> <!-- MAKE ALARMS RESTART ON REBOOT -->
        <service android:name=".ui.alarmas.ReinicioService" />

        <receiver android:name=".ui.alarmas.MiReinicioReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>